.wrapper {
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch; 
  padding-bottom: 20px;
  margin-top: 50px;
}

.slideshow_container {
  display: flex;
  gap: 20px;
  // padding: 0 20px;
  // width: max-content; 
  width: 95%;
  // max-width: 1440px;
  margin: 0 auto;

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    // width: 100%;
    // padding: 0 0px;
    gap: 15px;
    width: 90%;
  max-width: 1440px;
  margin: 0 auto;
  }
}

.slide {
  max-width: 320px; 
  flex-shrink: 0;
  

  @media (min-width: 768px) {
    // min-width: auto;
    max-width: 100%; 
  }
}

.slide_bg {
  width: 100%;
  max-width: 320px;
  position: relative;
  height: 400px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  // border-radius: 8px;
  overflow: hidden;

  @media (min-width: 768px) {
    width: 100%;
  max-width: 480px;
    height: 600px;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0000004D;
  // background-color: rgba(0, 0, 0, 0.4);
}

.slide_name {
  position: relative;
  color: white;
  font-size: 1.8rem;
  text-align: center;
  z-index: 1;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 50px;
    padding: 10px 25px;
  border: 2px solid #FFFFFF;

  @media (min-width: 768px) {
    font-size: 2.5rem;
    font-family: Poppins;
    font-weight: 700;
    font-size: 60px;
    line-height: 48px;
    letter-spacing: 4%;
    text-transform: capitalize;
    border-radius: 50px;
    padding: 10px 25px;
    border: 2px solid #FFFFFF;
  }
}

.slide_content {
  padding: 15px 0;
  min-height: 100px;
  // text-align: center;
}

.slide_message {
  // margin-bottom: 0.5rem;
  font-family: Open Sans;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0%;
    color: #000;
    width: 90%;
    min-height: 70px;

  @media (min-width: 768px) {
    font-family: Open Sans;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0%;
    color: #000;
    width: 100%;
  }
}

.slide_btn {
  padding: 0.6rem 1rem;
  background-color: #DB5825;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.3s ease;
  font-family: Open Sans;
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  

  &:hover {
    background-color: #be4d20;
  }

  @media (min-width: 768px) {
    padding: 0.8rem 2rem;
    background-color: #DB5825;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-transform: uppercase;
    transition: all 0.3s ease;
    font-family: Open Sans;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
  }
}