.content {
    width: 100%;
    max-width: 1440px;
    position: relative;
    padding-bottom: 6rem;
    transform: translateX(100%);
    opacity: 0;
    margin: 0 auto;
    transition: transform 0.8s ease-in-out, opacity 0.8s ease-in-out;
    overflow: hidden;
  
    &.slideIn {
      transform: translateX(0%);
      opacity: 1;
    }
  
    @media (max-width: 768px) {
      padding-bottom: 2rem;
      height: 146px;
    }
  
    .rotate {
      position: absolute;
      z-index: -1;
      right: 0;
      top: 80px;
      @media (max-width: 768px) {
        display: none;
      }
    }
  }
  
  .carousel {
    display: flex;
    animation: scroll 30s linear infinite;
    gap: 15px;
    perspective: 1200px;
    width: fit-content;
    // align-items: stretch;
    margin-top: 1rem;
  
  
    @media (max-width: 768px) {
      gap: 5px;
    }
  }
  
  .card {
   
    transform-origin: center bottom;
  
    img {
      width: 300px;
      height: 523px;
      object-fit: cover;
      border-radius: 15px;
  
  
      @media (max-width: 768px) {
        width: 100px;
        height: 150px;
        border-radius: 8px;
      }
    }
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  
  @keyframes shrinkStretch {
    0% {
      transform: scaleY(0.95);
    }
    25% {
      transform: scaleY(1);
    }
    50% {
      transform: scaleY(1.1);
    }
    75% {
      transform: scaleY(1);
    }
    100% {
      transform: scaleY(0.95);
    }
  }
  