@import "./mixins";
@import "./variables";


@font-face {
  font-family: Roboto Serif;
  src: url("../../public/assets/fonts/roboto/RobotoSerif-ExtraBold.ttf");
}

@font-face {
  font-family: Roboto;
  src: url("../../public/assets/fonts/roboto/RobotoSerif-Medium.ttf");
}

@font-face {
  font-family: Open Sans;
  src: url("../../public/assets/fonts/opensans/OpenSans-Regular.ttf");
}

@font-face {
  font-family: Poppins;
  src: url("../../public/assets/fonts/poppings/Poppins-Regular.ttf");
}

@font-face {
  font-family: Manrope;
  src: url("../../public/assets/fonts/manrope/Manrope-Regular.ttf");
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  // background-color: transparent;
  width: 100%;
  background: #f9f9f9;
  margin: 0 auto;
}

