//

.wrapper {
    width: 100%;
    // height: 100%;
    min-height: 450px;
    position: relative;
    .image {
      width: 100%;
      border-radius: 13.8px;
      object-fit: cover;
      height: 100%;
      display: block;
    }

    .heart_box{
      position: absolute;
      top: 20px;
      right: 10px;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background: #D9D9D966;
      box-shadow: 0px 4px 4px 0px #00000040;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      // .heart_icon{
      //   width: 21px;
      //   height: 21px;
      // }

      .heart_icon {
        width: 21px;
        height: 21px;
        path {
          fill: #ccc; 
          stroke: #ccc;
          transition: all 0.3s ease;
        }
      
        &.liked {
          path {
            fill: red;
            stroke: red;
          }
        }
      }
      .delete_icon {
        path {
          fill: red;
          stroke: red;
        }
        &:hover {
          transform: scale(1.1);
        }
      }
      
      .heart_box {
        cursor: pointer;
        &:hover {
          transform: scale(1.1);
        }
      }
    }
    .content {
      position: absolute;
      left: 50%;
      bottom: 10px;
      transform: translateX(-50%);
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #F4F4F4;
      width: 95% !important;
      height: auto !important;
      padding: 15px 10px;
      border-radius: 18.5px;
      box-shadow: 0px 4.09px 4.09px 0px rgba(0, 0, 0, 0.25);
  
      .newAmount {
        height: auto;
        width: 100%;
        .flxTxt {
          display: flex;
          flex-direction: column;
          gap: 6px;
  
          p {
            font-family: Open Sans;
            font-weight: 500;
            font-size: 16px;
            color: #000000;
          }
          .Price {
            display: flex;
            align-items: center;
            gap: 6px;
            .newPrice {
              // width: 49px;
              font-family: Open Sans;
              font-weight: 700;
              font-size: 18px;
              color: #000000;
            }
            .oldPrice {
              font-family: Open Sans;
              font-weight: 400;
              font-size: 14px;
              text-decoration: line-through;
              color: #787777;
            }
          }
          .btn_row {
            display: flex;
            justify-content: space-between;

            .icon{
                font-size: 80px;
                width: 80px;
                height: inherit;
            }
            .btn {
                padding: 12px 25px;
                border: 0.5px solid #ad441b;
                background-color: #db5825;
                border-radius: 8.5px;
                font-family: Open Sans;
                font-weight: 500;
                font-size: 14px;
                line-height: 100%;
                text-align: center;
                color: #fff;
                cursor: pointer;
               
              }
          }
        }
      }
    }
  }
  
  @media (max-width: 768px){
    .wrapper {
      width: 100%;
      //   width: 321px;
      height: 100%;
      position: relative;
      // overflow: hidden;
      .image {
        width: 100%;
        border-radius: 7px;
        object-fit: cover;
        height: 100%;
        display: block;
      }

      .heart_box{
        position: absolute;
        top: 20px;
        right: 10px;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background: #D9D9D966;
        box-shadow: 0px 4px 4px 0px #00000040;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
  
        .heart_icon{
          width: 15px;
          height: 15px;
        }
      }
      .content {
        position: absolute;
        left: 50%;
        bottom: 10px;
        transform: translateX(-50%);
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #f4f4f4;
        width: 95% !important;
        height: auto !important;
        padding: 7px 5px;
        border-radius: 9px;
        box-shadow: 0px 4.09px 4.09px 0px rgba(0, 0, 0, 0.25);
    
        .newAmount {
          height: auto;
          width: 100%;
          .flxTxt {
            display: flex;
            flex-direction: column;
            // justify-content: space-between;
            gap: 0px;
    
            p {
              font-family: Open Sans;
              font-weight: 500;
              font-size: 13.5px;
              color: #000000;
              width: 100%;
            }
            .Price {
              display: flex;
              align-items: center;
              gap: 0px;
              margin-top: 5px;
              .newPrice {
                font-family: Open Sans;
                font-weight: 700;
                font-size: 15px;
                color: #000000;
                white-space: nowrap;
              }
              .oldPrice {
                font-family: Open Sans;
                font-weight: 400;
                font-size: 13px;
                text-decoration: line-through;
                color: #787777;
              }
            }
            .btn_row {
              display: flex;
              justify-content: space-between;
              align-items: flex-end;
  
              .icon{
                width: 44px ;
                height: 20px;
              }
              .btn {
                padding: 7px 12px;
                border: 0.5px solid #ad441b;
                background-color: #db5825;
                border-radius: 4px;
                // margin-top: 2.6em;
                font-family: Open Sans;
                font-weight: 500;
                font-size: 11.5px;
                line-height: 100%;
                text-align: center;
                color: #fff;
               
              }
            }
          }
        }
      }
    }
  }
  