.wrapper {
  width: 100%;
  height: 727px;
  margin-top: 40px;
  @media (max-width: 768px) {
    height: 574px;
    margin-top: 0px;
  }
  .contentOne {
    background-image: url("../../../public//assets/images/footerbackground.jpgb5qf6x.jpg-e0c2d7717c3e3cce6e7197e82462098d-doc.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.9px;
    width: 100%;
    height: 498px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    @media (max-width: 768px) {
      height: 250px;
      padding-top: 1em;
      padding-bottom: 35px;
    }
    .center_align {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      max-width: 1056px;
      height: 286px;
      gap: 28px;
      @media (max-width: 768px) {
        height: 152px;
        width: 287px;
        gap: 8px;
      }
      p {
        font-family: Roboto;
        font-weight: 500;
        font-size: 20px;
        line-height: 100%;
        letter-spacing: 0%;
        color: #fff;
        margin-bottom: 15px;
        @media (max-width: 768px) {
          font-size: 16px;
          margin-bottom: 5px;
        }
      }
      .txt {
        width: 1056px;
        height: 150px;
        @media (max-width: 768px) {
          width: 287px;
          height: 84px;
        }
        h1 {
          font-family: Roboto Serif;
          font-weight: 700;
          font-size: 64px;
          line-height: 70px;
          letter-spacing: 0%;
          text-align: center;
          text-transform: capitalize;
          color: #ffffff;
          @media (max-width: 768px) {
            font-size: 24px;
            line-height: 32px;
          }
        }
      }
      button {
        // width: 162px;
        // height: 43px;
        border-radius: 10px;
        padding: 15px 40px;
        outline: none;
        border: none;
        background-color: #db5825;
        // border: 1px solid #db5825;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: Manrope;
          font-weight: 500;
          font-size: 16px;
          line-height: 100%;
          letter-spacing: 0%;
          color: #fff;
          margin-top: 0px;
          cursor: pointer;

          a{
            text-decoration: none;
            color: #fff;
          }
          &:hover{
            background-color: #b6491e;
          }

        @media (max-width: 768px) {
          // width: 172px;
          // height: 33px;
          padding: 10px 25px;
          border-radius: 4px;
          font-family: Manrope;
          font-weight: 500;
          font-size: 16px;
          line-height: 100%;
          letter-spacing: 0%;
          margin-top: 10px;
        }
        
      }
    }
  }
  .contentTwo {
    background-color: #33160a;
    height: 229px;
    width: 100%;
    display: flex;
    padding: 27px 60px;
    flex-direction: column;
    gap: 40px;
    @media (max-width: 768px) {
      width: 100%;
      height: 364px;
      gap: 32px;
      padding: 20px 20px 20px 10px;
    }
    .firstPara {
      display: flex;
      flex-direction: column;
      gap: 12px;
      @media (max-width: 768px) {
        // flex-direction: row;
      }
      .flx {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (max-width: 768px) {
          width: 100%;
          align-items: flex-start;
          flex-direction: column;
          gap: 24px;
          padding-bottom: 4em;
          border-bottom: 1px solid #fff;
          padding-left: 18px;
        }
        .icons {
          display: none;
          @media (max-width: 768px) {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 197px;
            height: 29px;
          }
        }
        .input {
          position: relative;
          @media (max-width: 768px) {
            display: none;
          }
          input {
            width: 353px;
            height: 58px;
            border-radius: 10px;
            border: 1px solid #d2d2d2;
            padding: 6px 12px 6px 40px;
            background-color: #33160a;
            font-family: Open Sans;
            font-weight: 400;
            font-size: 14px;
            line-height: 28px;
            outline: none;
            letter-spacing: 0%;
            color: #fff;
          }
          .btn {
            position: absolute;
            left: 250px;
            top: 4.5px;
            padding: 6px 12px 6px 12px;
            width: 98px;
            height: 50px;
            background-color: #db5825;
            border-radius: 6px;
            border: 0px;
            cursor: pointer;
            p {
              width: 74px;
              height: 29px;
              font-family: Open Sans;
              font-weight: 400;
              font-size: 16px;
              line-height: 29px;
              letter-spacing: 0%;
              text-align: center;
              vertical-align: middle;
              color: #fff;
            }
          }
        }
        .mobileInput {
          display: none;
          @media (max-width: 768px) {
            display: block;
            position: relative;
            width: 100%;
            height: auto;
          }
          input {
            width: 320px;
            border: 0.91px solid #d2d2d2;
            outline: none;
            height: 46px;
            background-color: #33160a;
            border-radius: 9.07px;
            padding-left: 16px;
            font-family: Open Sans;
            font-weight: 400;
            font-size: 12px;
            line-height: 25.38px;
            letter-spacing: 0%;
            color: #fff;
          }
          .mobileBtn {
            width: 77px;
            height: 38px;
            position: absolute;
            left: 236px;
            top: 3.5px;
            background-color: #db5825;
            padding: 6px 10px;
            border-radius: 5.5px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 0px;
            h3 {
              width: 55px;
              height: 27px;
              font-family: Open Sans;
              font-weight: 400;
              font-size: 12px;
              line-height: 26.29px;
              letter-spacing: 0%;
              text-align: center;
              color: #ffffff;
              text-align: center;
            }
          }
        }
      }
      .icon {
        display: flex;
        width: 171px;
        height: 28px;
        gap: 22.5px;
        @media (max-width: 768px) {
          display: none;
        }
      }
    }
    p {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      height: 23px;
      color: #fff;
      font-family: Manrope;
      font-weight: 400;
      font-size: 14px;
      line-height: 145%;
      letter-spacing: 0%;
      text-align: center;
      text-decoration: none;
      @media (max-width: 768px) {
        display: none;
      }
      span {
        font-family: Manrope;
        font-weight: 400;
        font-size: 14px;
        line-height: 145%;
        letter-spacing: 0%;
        text-align: center;
        text-decoration: underline;
        text-decoration-style: solid;
        text-decoration-thickness: 0%;
        text-decoration-skip-ink: auto;
        color: #b1b1b1;
        @media (max-width: 768px) {
        }
      }
    }
    h6 {
      display: none;
      @media (max-width: 768px) {
        width: auto;
        height: 12px;
        display: block;
        font-family: Manrope;
        font-weight: 400;
        font-size: 8px;
        line-height: 145%;
        letter-spacing: 0%;
        text-align: center;
        color: #fff;
      }
      span {
        font-family: Articulat CF;
        font-weight: 400;
        font-size: 8px;
        line-height: 145%;
        letter-spacing: 0%;
        text-align: center;
        text-decoration: underline;
        text-decoration-style: solid;
        text-decoration-thickness: 0%;
        text-decoration-skip-ink: auto;
        color: #b1b1b1;
      }
    }
  }
}
